<h1 class="text-center m-3 font-bold text-4xl">Chat</h1>
<div class="w-3/4 my-8 p-5 rounded">
    <form id="chat" class="flex w-full gap-2 pb-2">
        <input autocomplete="email" id="username" type="email" placeholder="Email"      >
        <input id="message" type="text" placeholder="your message..." autocomplete="off">
        <button type="submit" title="send">            
        </button>
    </form>
    <div id="messages"></div>
</div>
<script src="/js/chatClient.js"  type="module"></script>